.toggle__switch {
  width: 56px;
  height: 28px;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 0;
}

.toggle__switch-checkbox {
  visibility: hidden;
  position: absolute;
}

.toggle__switch-circle {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #000;
  z-index: -1;
  transition: left 0.3s linear;
}

.toggle__switch-checkbox:checked + .toggle__switch-circle {
  left: 26px;
}

.toggle__switch-value {
  color: #7e7e7e;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
}

.toggle__switch-value_left {
  color: #ffffff;
}

.toggle__switch-checkbox:checked ~ .toggle__switch-value_left {
  color: #7e7e7e;
}

.toggle__switch-checkbox:checked ~ .toggle__switch-value_right {
  color: #ffffff;
}
