.header {
  display: flex;
  justify-content: space-between;
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  margin: 32px 0px 28px;
}

.header__side {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 24px;
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 900;
  font-style: Black;
  font-size: 32px;
  line-height: 100%;
}

.header__add-clothes-btn {
  margin: 0 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.header__add-clothes-btn:hover {
  opacity: 60%;
  transform: scale(1.05);
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.header__username {
  margin: 0 12px 0 0;
}

.header__avatar-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
}

.header__auth-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.header__auth-btn:hover {
  opacity: 60%;
  transform: scale(1.05);
}
